body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif; /* Добавим универсальный шрифт для удобства чтения */
}

header, footer {
    background-color: #6A0DAD;
    padding: 10px 0; /* Увеличим отступы для лучшего визуального разделения */
    text-align: center; /* Выравнивание текста по центру */
}

nav {
    margin: 0 auto; /* Центрируем навигацию */
}

nav li {
    display: inline-block;
    margin: 0 30px; /* Уменьшим отступы между элементами меню */
}

nav a {
    text-decoration: none;
    color: white; /* Изменим цвет текста для лучшей читаемости */
    font-size: 40px;
}
main {
    padding: 20px; /* Увеличим отступы для лучшего визуального разделения контента */
}

#fimg {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем изображение */
    margin-bottom: 20px; /* Добавим отступ снизу для лучшего визуального разделения */
}

#fimg img {
    max-width: 100%; /* Сделаем изображение адаптивным */
}

#contacts {
    font-size: 16px;
    font-family: monospace;
}

#fp, #bp {
    font-size: 24px; /* Уменьшим размер шрифта для лучшей читаемости */
    text-align: justify;
}

@media screen and (max-width: 600px) {
    nav li {
        margin: 0 10px; /* Уменьшим отступы между элементами меню для маленьких экранов */
    }

    #fp, #bp {
        font-size: 20px; /* Уменьшим размер шрифта для маленьких экранов */
    }
}
